[Unit]
Description=SuiFleet Edge Deployment Client
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/suifleet
Restart=on-failure
RestartSec=5
WatchdogSec=60
NotifyAccess=main
EnvironmentFile=-/etc/suifleet/env

[Install]
WantedBy=multi-user.target
